.panelContainer{
    float: left;
}

.panelHeader{
    float: left;
    width: 100%;
    padding: 20px 15px;
    border-bottom: 2px solid #f1f0ef;
}

.panelOptions{
    float: left;
    width: 100%;
    border-bottom: 1px solid #f1f0ef ;
}

.panelNodeActions{
    padding: 15px 10px;
    float: left;
}

.panelProperties{
    padding: 15px;
    float: left;
    font-weight: 600;
    border-bottom: 1px solid blue;
}

.panelContent{
    float: left;
    width: 100%;
    padding: 20px 15px;
    border-bottom: 1px solid #f1f0ef ;
}

.panelConfig{
    float: left;
    width: 70%;
    font-weight: 600;
}

.panelEdit{
    float: left;
    width: 30%;
}

.panelDesc{
    float: left;
    width: 100%;
    padding-top: 10px;
    font-size: medium;
    color: lightgray;
   
}

.panelLabel{
    margin: 15px 0px;
    font-weight: bold;

}

.nodeName,.nodeType ,.nodeCost{
    height: 30px;
    width: 80%;
}

.panelForm{
    padding: 40px 0px;
    margin-top: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.panelForm h2{
    margin: 0px;
}

.submitButton{
    margin-top: 20px;
    padding: 8px 17px;
    background: white;
    font-weight: 600;
    border: 1px solid lightgray;
    
}